.imgmap {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
		
}
	
nav {
	display: flex;
	justify-content: center;
}
.nav-bar {
	display: flex;
	list-style: none;
}
nav li {
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid black;
}
nav li:last-child {
			border-right: none;
}
h1 {
	text-align: center;		
}
h2 {
	background-color: #FFD637;
	padding: 10px;
}

h3 {
	color: #FFFFFF;
	background-color: #DD602F;
	padding: 5px;
}
table, td, th {
	border: 2px solid #948C93;
	border-collapse: collapse;
}
.top-left {
	width: 33%;
}
.top-right {
	width: 67%;
}
.top-left, .top-right {
	background-color: #C9BFC7;
}
.bottom {
	background-color: #C5F5E0;
}
.gym-pool {
	height: 40px;
}
.gallery-list{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
}
.gallery-list li {
	display: block;
}
footer {
	text-align: center;
}